body {
  background: #f6fafb;
  font-family: 'Segoe UI', Arial, sans-serif;
}
.products-row {
  display: flex;
  gap: 18px;
  margin: 70px auto;
  max-width: 800px;
  justify-content: center;
}
.product-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 18px rgba(0,40,150,.07);
  overflow: hidden;
  width: 225px;
  display: flex;
  flex-direction: column;
  transition: box-shadow .16s;
}
.product-card:hover {
  box-shadow: 0 5px 24px rgba(41,76,235,0.11);
}
.product-card img {
  width: 100%;
  height: 135px;
  object-fit: cover;
  background: #ededed;
  border-bottom: 1px solid #f0f3fa;
}
.product-info {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px 11px 16px;
  align-items: center;
}
.product-name {
  font-size: 1.08rem;
  color: #232d38;
  font-weight: 500;
}
.product-price {
  font-size: 0.95rem;
  color: #7b838d;
  margin-left: 14px;
}